@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap');

body, html {
  font-family: 'Comfortaa', cursive;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  /* background-image: url("../public/image/Slide1.PNG") !important;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #fff8e9 !important;
}

#root{
  height: 100vh;
}

.userForm {
  margin-top: 10%;
}

.titleButton {
  margin-top: 10%;
}

.headline {
  font-size: 32px;
}

h1.headline {
  margin-top: 5%;
}

.username {
  margin-top: 20px;
  font-size: 32px;
}

.user-option{
  text-align: center;
  margin-top: 10%;
}

.design-collection {
  margin: 10% 0 3% 3%;
}

.select-option {
  margin: 50px 0 0 5%;
  width: 10%;
}

.login {
  width: 400px;
}

.studio {
  margin-top: 30px;
}

.sides {
  font-size: 28px;
  font-weight: bold;
  margin-left: 5%;
}

.form-group {
  margin-top: 5%;
  background-color: #D3CEDF;
  border: 3px dashed #9CB4CC;
  padding: 1rem;
  width: 600px;
  min-height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.file-inputs {
  margin-bottom: 1.5rem;
  width: 70%;
  margin-left: 10%
}

.form-control {
  height: 46px;
}

.btn {
  background-color: #FFB562 !important;
  color: #fff;
  margin-left: 10%;
}

.icon {
  margin-right: 5px;
}

.submit-btn {
  margin: 5% 0 0 10%;
}

.close-btn {
  color: gray;
}

.konvajs-content{
  margin: auto;
}

.checkbox {
  margin-top: 5%;
  text-align: center;
}

.btn-create {
  text-align: center;
  background-color: #FFB562 !important;
  color: #fff !important;
  font-weight: bold !important;
  width: 10%;
}

.error-message {
  margin-top: 5%;
  color: red;
  text-align: center;
}

.tshirt-card {
  background-color: #FFDAAF;
}

.card-btn {
  left: 50%;
}

.update-form {
  margin-left: 15%;
}

.delete-btn {
  margin-left: 3%;
  background-color: transparent !important;
}

.delete {
  margin-right: 5%;
}

.t-shirt-collection {
  padding-left: 3%;
  padding-right: 3%;
}

.title-image {
  margin: auto;
  padding-top: 5%;
  position: relative;
  text-align: center;
}

.container {
  text-align: center;
  justify-content: center;
}

/* test animation */
.headlineContainer {
  height: 813.5px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.splatter {
  display: inline;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 0;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; 
}

.splatter2 {
  display: inline;
  position: absolute;
  top: 30%;
  left: 45%;
  z-index: 0;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; 
}

.splatter3 {
  display: inline;
  position: absolute;
  top: 55%;
  left: 20%;
  z-index: 0;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s; 
}



@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

.show-detail {
  position: absolute;
  display: inline;
  top: 90%;
  left: 90%
}

.card-parent {
  position: relative;
}

.cards {
  height: 300px;
  position: relative;
}

.modal-content {
  margin: auto;
}

.toggle-btn {
  width: 50%
}

.hline-galleries {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 10% 0;
}

.alert {
  margin-left: 10%;
  margin-top: 3%;
  width: 23%;
}

.modal-header {
  font-size: 32px;
}

.navigate {
  margin: 10% 0 3%;
  font-size: 24px;
}

.jump-btn {
  background-color: #FFB562 !important;
  color: #fff;
  margin-bottom: 20%;
  font-weight: bold !important;
}

.jump {
  background-color: #FFB562 !important;
  color: #fff;
  margin-top: 5%;
  font-weight: bold !important;
}

.navigate-container {
  text-align: center;
}

.page-bottom {
  margin-bottom: 20%;
}

.page-bottom-1 {
  margin-bottom: 10%
}

.t-shirt-collection {
  justify-content: center;
}