
body {
  /* background-image: url("../public/image/Slide1.PNG") !important;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #fff8e9 !important;
}

#root{
  height: 100vh;
}

.userForm {
  margin-top: 10%;
}

.titleButton {
  margin-top: 20%;
}

.headline {
  font-size: 32px;
}

h1.headline {
  margin-top: 10%;
}

.headlineContainer {
  text-align: center;
}

.username {
  margin-top: 20px;
  font-size: 32px;
}

.user-option{
  text-align: center;
  margin-top: 10%;
}

.design-collection {
  margin-top: 10%;
}

.select-option {
  margin-top: 50px;
  width: 10%;
}

.login {
  width: 400px;
}

.studio {
  margin-top: 30px;
}

.sides {
  font-size: 28px;
  font-weight: bold;
}
