
body {
  /* background-image: url("../public/image/Slide1.PNG") !important;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #fff8e9 !important;
}

#root{
  height: 100vh;
}

.userForm {
  margin-top: 10%;
}

.titleButton {
  margin-top: 20%;
}

.headline {
  font-size: 32px;
}

h1.headline {
  margin-top: 10%;
}

.headlineContainer {
  text-align: center;
}

.username {
  margin-top: 20px;
  font-size: 32px;
}

.user-option{
  text-align: center;
  margin-top: 10%;
}

.design-collection {
  margin-top: 10%;
}

.select-option {
  margin: 50px 0 0 5%;
  width: 10%;
}

.login {
  width: 400px;
}

.studio {
  margin-top: 30px;
}

.sides {
  font-size: 28px;
  font-weight: bold;
  margin-left: 5%;
}

.form-group {
  margin-top: 5%;
  background-color: #D3CEDF;
  border: 3px dashed #9CB4CC;
  padding: 1rem;
  width: 600px;
  min-height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.file-inputs {
  margin-bottom: 1.5rem;
  width: 70%;
  margin-left: 10%
}

.form-control {
  height: 46px;
}

.btn {
  background-color: #FFB562 !important;
  color: #fff;
  margin-left: 10%;
}

.icon {
  margin-right: 5px;
}

.submit-btn {
  margin: 5% 0 0 10%;
}

.close-btn {
  color: gray;
}

.konvajs-content{
  margin: auto;
}

.checkbox {
  margin-top: 5%;
  text-align: center;
}

.btn-create {
  text-align: center;
  background-color: #FFB562 !important;
  color: #fff !important;
  font-weight: bold !important;
  width: 10%;
}

.error-message {
  margin-top: 5%;
  color: red;
  text-align: center;
}